[mysqld]
port=4040

# SQL Modes
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

# Character Set and Collation
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Authentication Plugin
default-authentication-plugin=caching_sha2_password

# PID File
pid-file = /var/run/mysqld/mysqld.pid

# Slow Query Log
slow-query-log = 1
long-query-time = 5  # Reducido para capturar más consultas lentas
log-output = 'TABLE'
general-log = 'OFF'  # Desactivado para evitar sobrecarga en producción

# Log Expiration
binlog_expire_logs_seconds = 604800  # 7 días

# Stored Procedures Privileges
automatic-sp-privileges = 0

# Group Concat Max Length
group-concat-max-len = 5120

# Full-Text Minimum Token Size
innodb-ft-min-token-size = 2

# Log Bin Trust Function Creators
log-bin-trust-function-creators = 1

# Event Scheduler
event-scheduler = 1

# Performance Settings
innodb-buffer-pool-size = 4G  # Ajustado según la RAM disponible (15 GB)
innodb_redo_log_capacity = 2G
innodb-log-buffer-size = 128M
max-connections = 400
tmp-table-size = 256MB
max-heap-table-size = 256MB

# Network and Connection Settings
max_allowed_packet = 16M  # Aumentado para soportar transferencias de datos grandes
connect_timeout = 15  # Ajustado para tolerar conexiones remotas con latencia
skip-name-resolve = 1  # Evita la resolución DNS inversa para acelerar las conexiones
bind-address = 0.0.0.0  # Permite conexiones desde determinada IP


