# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode=""
character-set-server=utf8
default-authentication-plugin=mysql_native_password

# ACTIVAR EL REGISTRO DE CONSULTAS LENTAS
slow-query-log = 1

# TIEMPO PARA CONSIDERAR CONSULTA LENTA
long-query-time = 15

log-output	 = 'TABLE'
general-log	 = 'ON'
expire-logs-days = 7

# NO ELIMINAR PRIVILEGIOS A PROCEDIMIENTOS ELIMINADOS (Y CREADOS POSTERIORMENTE)
automatic-sp-privileges = 0

# EXTENDER CARACTERES PARA GROUP CONCAT
group-concat-max-len = 5120

# EXTENDER BUSQUEDA A 2 CARACTERES > INDEX FULLTEXT
innodb-ft-min-token-size = 2

# VALIDA QUE LOS USUARIOS CREADORES DE FN TENGAN ACCESO A CREAR O MODIFICAR
log-bin-trust-function-creators = 1

# HABILITAR EVENTOS
event-scheduler = 1

# ----- =  = = : ::: NUEVOS PARÁMETROS ::: : = =  = -----
# REF::   https://medium.com/datadenys/tuning-mysql-8-0-server-for-better-performance-238e463f5583

# Tamaño de la memoria asignada al búfer de InnoDB. Recomendado: al menos el 70-80%.
innodb-buffer-pool-size = 2GB

# El valor de este parametro debe ser igual al grupo de búfer, si es posible.
# NOTA, SE DEBE DE REALIZAR LAS SIGUIENTES ACCIONES::
#     Detener el servicio "mysql"
#     rm /var/lib/mysql/ib_logfile*
#     Iniciar el servicio "mysql"
innodb-log-file-size = 2GB

# aumento para grandes transacciones
innodb-log-buffer-size = 128M

# NUMERO DE CONEXIONES SIMULTANEAS
max-connections = 300

# PARAMETRO DE MEMORIA A UTILIZAR PARA TABLAS TEMPORALES
tmp-table-size = 256MB
max-heap-table-size = 256MB
